.navbar {
  @extend %flex-between;

  color: $white-color;
  gap: 15px;
  padding: 19px 32px;
  position: relative;
  z-index: 6;

  @include max-breakpoint(mobile) {
    padding: 17px 16px;
  }

  &__burger {
    @extend %flex-between;

    width: 20px;
    height: 16px;
    flex-direction: column;
    cursor: pointer;
    z-index: 4;
    box-sizing: content-box;
    padding: 5px;

    &__line {
      background-color: $black-color;
      height: 2px;
      border-radius: 2px;
    }

    &__text {
      @extend %flex-center;
      text-transform: uppercase;
      color: $black-color;
      font-size: 12px;
      font-weight: 200;
      cursor: pointer;

      @include max-breakpoint(mobile) {
        display: none;
      }
    }
  }
}
