$main-color: #2f4563;
$secondary-color: #ff6b6b;
$accent-color: #feca57;
$dark-color: #2f3542;
$light-color: #f1f2f6;

$text-primary: #2f3542;
$text-secondary: #57606f;
$text-light: #ffffff;

$success-color: #2ed573;
$error-color: #ff4757;
$warning-color: #ffa502;
$info-color: #1e90ff;

$blur-color: rgba(0, 0, 0, 0.4);

$black-color: black;
$white-color: white;
