@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'LibreFranklin';
  src: url('/src/assets/fonts/LibreFranklin-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
