@use './colors' as *;
@use './breakpoints' as *;

@mixin small($screen) {
  @media (max-width: #{breakpoint($screen)}) {
    @content;
  }
}

@mixin middle($screen) {
  @media (max-width: #{breakpoint($screen)}) {
    @content;
  }
}

@mixin large($screen) {
  @media (max-width: #{breakpoint($screen)}) {
    @content;
  }
}

@mixin xl($screen) {
  @media (max-width: #{breakpoint($screen)}) {
    @content;
  }
}

%primary-button {
  width: 100px;
  height: 30px;
  background-color: $accent-color;
  font-weight: bold;
  box-shadow: 1px 1px 1px 1px;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    transform: scale(0.9);
  }
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

%main-container {
  width: 100%;
  height: auto;
}

%default-title {
  font-size: 25px;
  font-weight: bold;
  color: $main-color;
}
