.header {
  @extend %flex-center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  background-color: $main-color;
  color: $text-light;

  @include small(sm) {
    display: flex;
    font-size: 12px;
  }
}
