.header {
  @extend %flex-center;
  @extend %flex-between;

  background-color: $white-color;
  padding: 32px 64px;
  height: 56px;
  color: $black-color;

  @include breakpoint(laptop) {
    padding: 25px 13px;
  }

  @include breakpoint(mobile) {
    padding: 24px 16px;
  }

  &__other {
    @extend %flex-center;
    gap: 20px;

    @include breakpoint(mobile) {
      gap: 10px;
    }
  }

  &__login {
    cursor: pointer;
    @extend %flex-center;

    color: $white-color;
    font-weight: 500;
    background-color: $black-color;
    width: 80px;
    height: 30px;
    border-radius: 10px;

    @include breakpoint(mobile) {
      width: 50px;
      height: 25px;
      border-radius: 5px;
    }
  }

  &__icons {
    width: 24px;
    height: 24px;
    cursor: pointer;

    @include breakpoint(mobile) {
      width: 20px;
      height: 20px;
    }
  }
}

.logo {
  width: 120px;
  height: 90px;
  cursor: pointer;
}
