.header {
  @extend %flex-center;
  @extend %flex-between;

  background-color: $white-color;
  padding: 32px 64px;
  height: 56px;
  color: $black-color;

  @include max-breakpoint(laptop) {
    padding: 25px 13px;
  }

  @include max-breakpoint(mobile) {
    padding: 24px 16px;
  }

  &__other {
    @extend %flex-center;
    gap: 20px;

    @include max-breakpoint(mobile) {
      gap: 5px;
    }
  }

  &__login {
    cursor: pointer;
    @extend %flex-center;

    color: $white-color;
    font-weight: 600;
    background: $black-color;
    width: 100px;
    height: 36px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    }

    &:active {
      transform: scale(0.98);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    @include max-breakpoint(mobile) {
      width: 70px;
      height: 28px;
      border-radius: 8px;
      font-size: 14px;
    }
  }

  &__icons {
    width: 24px;
    height: 24px;
    cursor: pointer;

    @include max-breakpoint(mobile) {
      width: 20px;
      height: 20px;
    }
  }
}

.logo {
  width: 120px;
  height: 90px;
  cursor: pointer;
}
