.navBar {
  @extend %flex-center;
  padding: 10px 20px;
  position: relative;
  z-index: 1;

  @include small(sm) {
    position: absolute;
    right: 10px;
    top: 10px;
    position: absolute;
    justify-content: end;
  }
}

.navBar__list {
  display: flex;
  gap: 15px;
  align-items: center;
  list-style: none;

  @include small(sm) {
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    cursor: pointer;
    color: $text-light;

    @include small(sm) {
      color: $dark-color;
      font-size: 25px;
    }
  }
}

.items {
  font-size: 34px;
  color: red;
}

.ulWrapper {
  display: flex;

  @include small(sm) {
    position: fixed;
    top: 60px;
    right: -50%;
    width: 50%;
    height: 100vh;
    background-color: $light-color;
    flex-direction: column;
    padding: 20px;
    transition: right 0.3s ease-in-out;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 2;

    &.open {
      right: 0;
    }
  }
}

//use nested classNames like we did for .open

// .ul {
//   display: flex;
//   gap: 15px;
//   align-items: center;

//   @include small(sm) {
//     flex-direction: column;
//     gap: 10px;
//   }
// }

// .li {
// list-style: none;
// cursor: pointer;
// color: $text-light;

// @include small(sm) {
//   color: $dark-color;
//   font-size: 25px;
// }
// }

.burger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  z-index: 60;

  .line {
    width: 25px;
    height: 3px;
    background-color: $light-color;
    transition: 0.5s;
  }

  @include small(sm) {
    display: flex;
  }
}

.burgerTop {
  transform: translateY(5px) rotate(45deg);
}

.burgerMiddle {
  opacity: 0;
}

.burgerBottom {
  transform: translateY(-9px) rotate(-45deg);
}
